* {margin: 0;padding: 0;}
a {text-decoration: none;color: black;display: block;}
ul {list-style: none;}

.title_block {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    margin-top: 55px;
    color: #293332;
}

.box {width: 1240px;margin: 0 auto;}

$color-red: #B41416;


@import "fonts";
@import "header";
@import "slider";
@import "partners";
@import "infoCompany";
@import "fullInfo";
@import "footer";
@import "company_info";
@import "workers";
@import "ofice";
@import "news";
@import "career";
@import "analitic";
@import "practics";
// @import "media";











