* {margin: 0;padding: 0;}
a {text-decoration: none;color: black;display: block;}
ul {list-style: none;}

.box {width: 1240px;margin: 0 auto;}

$color-red: #B41416;


@import "fonts";
@import "header";
// @import "media";
